<span (click)="onDisplayModeChange(displayModes.card)"
      class="material-icons cursor-pointer">view_module</span>
<span (click)="onDisplayModeChange(displayModes.table)"
      class="material-icons cursor-pointer">view_list</span>
{{ displayMode }}

<div *ngIf="(products$ | async) as products">
  <div *ngIf="displayMode === displayModes.card; else table">
    <app-product *ngFor="let prod of products"
                 (onAddToCart)="onAddToCart($event)"
                 [product]="prod"></app-product>
  </div>
  <ng-template #table>Should display products as table</ng-template>
</div>

<div>
      <app-categories></app-categories>
</div>